body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: repeating-radial-gradient(circle at 50%, rgb(26, 133, 233), rgb(104, 183, 230) 1em, white 1em, white 2em);
}

.chat-window {
    width: 600px;
    height: 1000px;
    border: 3px solid #000;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-image img {
    width: 100%; /* 让图片宽度与 chat-window 相同 */
    height: auto; /* 保持图片的原始宽高比 */
    display: block; /* 避免任何不必要的空白间隙 */
    border-top-left-radius: 15px; /* 顶部圆角 */
    border-top-right-radius: 15px; /* 顶部圆角 */
}

/* 聊天头部的样式 */
.chat-header {
    background-color: rgb(134,211,255); /* 背景色 */
    color: #000; /* 更改文字颜色 */
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 更改字体样式 */
}

/* 聊天内容区域的样式 */
.chat-body {
    flex: 1;
    padding: 100px;
    background-color: rgb(243, 255, 53); /* 背景色 */
    overflow-y: auto;
    color: #666; /* 更改文字颜色 */
    font-family: Arial, sans-serif; /* 更改字体样式 */
}

.chat-footer {
    background-color: rgb(134,211,255); /* 小黄人的裤子颜色 */
    padding: 10px;
    display: flex;
}

/* 聊天输入框的样式 */
.chat-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    color:rgb(134, 211, 255);
    text-shadow: 1px 1px 1px black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 更改字体样式 */
    font-size: 16px;
    
}
/* 发送按钮的样式 */
.send-button {
    background-color: #000; /* 背景色 */
    color: rgb(243, 255, 53); /* 更改文字颜色 */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* 更改字体样式 */
}

.send-button:hover {
    background-color: rgb(243, 255, 53); /* 按钮的深蓝色 */
    color: #000;
}
/* 消息的样式 */
.message {
    flex: 1;
    color: black;
    background-color: white; /* 长方形的填充色 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* 如果你想要圆角 */
    word-wrap: break-word; /* 确保长文字不会溢出 */
    
    
}
