/* Center the button container */
#button-container {
  position: absolute; /* 或者使用 'fixed' 依据需求 */
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Sets the style of the button */
#resetBtn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: deepPink;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resetBtn:hover {
  background-color: #c71585;/* Change button color when mouse hover */
}